mixin field(colSize, type, name, text, value, placeholder, autofocus)
  div(class='small-#{colSize} columns')
    if text
      label(for=name) #{text}:
    input(value=value, type=type, name=name, placeholder=placeholder, autofocus=autofocus)
